@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  padding: 0;
  margin: 0;
}

form {
  max-width: 40em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
}

form h1 {
  font-family: "Raleway";
  color: #f97300;
}

form input[type="text"]::placeholder {
  font-family: "Raleway";
  color: #666;
}
form .data {
  margin-top: 1em;
}

form .data li {
  background: #ffffff;
  border-left: 6px solid #f97300;
  padding: 1em;
  margin: 1em auto;
  color: #666;
  font-family: "Raleway";
}

form .data li i {
  float: right;
  color: #888;
  cursor: pointer;
}

form .input-group-text {
  background: #f97300;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  padding: 1em 23px;
  color: #fff;
  position: absolute;
  right: 13px;
  top: 68px;
  cursor: pointer;
}
form .input-group-text i {
  font-size: 2em;
}
form .form-control {
  height: 3em;
  font-family: "Raleway";
}
form .form-control:focus {
  box-shadow: 0;
}

.list-instyled {
  list-style: none;
}

#date {
  float: left;
  margin-inline-end: 60px;
}

#info {
  display: inline-block;
  font-family: "Raleway";
  color: #f97300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group-text {
  margin-top: 75px;
}

form {
  border-radius: 10px;
}

.check-box {
  margin-right: 5px;
}

form {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2),
    0 24px 60px 0 rgba(0, 0, 0, 0.19);
}

/* logo */
